<header role="banner">
      <!--<h1 class="logo">{{ site.title }}</h1>-->
      <nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}
   <div class="row">
      <div class="container  mt-2 ">
        <a  target="_blank" href="https://github.com/vankenobi"><i class="fa fa-github" style="font-size:24px"></i></a>
        <a  target="_blank" href="https://www.linkedin.com/in/musakucuk/"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
        <a  target="_blank" href="mailto:musakucuk99@gmail.com"><i  class="fa fa-envelope" style="font-size:24px"></i></a>
      </div>
    </div>
</ul>

</nav>
</header>